Package: cs-libs
Version: @VER@-1
Description: Libraries for Coolstream HDx Hardware
Section: base/drivers
Priority: required
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: http://coolstreamtech.com/
Source:
Provides: 
Depends: @DEP@
