Package: neutrino-hd
Version: 1.0-1
Description: The neutrino-HD STB GUI
Section: extras/servers
Priority: optional
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: http://git.slknet.de/git/?p=cst-public-gui-neutrino.git;a=shortlog;h=refs/heads/cst-next
Source:
Depends: @DEP@
