Package: libncurses
Version: @VER@-1
Description: The New Curses Library
Section: base/libraries
Priority: standard
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: http://www.gnu.org/software/ncurses/
Source:
Depends: @DEP@
Provides: @PROV@
