Package: libbluray
Version: @VER@-1
Description: library supporting Blu-ray playback
Section: extras/libraries
Priority: optional
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage:
Source:
Depends: @DEP@
Provides: @PROV@
