Package: ntfs-3g
Version: @VER@-1
Description: Full Featured NTFS read-write Driver for Linux
Section: base
Priority: optional
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: http://www.tuxera.com/community/open-source-ntfs-3g
Source:
Depends: @DEP@
Provides: @PROV@, ntfs-3g, mount.ntfs-3g, ntfs-3g.probe
